<!doctype html>
<html lang="{{ lang }}">

<head>
    {% include "common/head.html" %}

    <title>Weather forecast for tonight</title>
</head>

{% import "common/macros.html" as macros %}

<body class="font-monospace">
    <main class="container-fluid">
        <div class="row">
            <div class="col">
                <h2 class="mt-2">
                    {{ "tonight" | transl(lang) }}
                    <small class="text-muted">{{ daily[0].day }} –⁠ {{ daily[1].day }}</small>
                </h2>
            </div>
        </div>

        {% include "common/location.html" %}

        <div class="row">
            <div class="col">
                <table class="table table-sm align-middle" aria-describedby="Weather forecast for tonight">
                    <thead>
                        <tr>
                            {{ macros.print_hourly_table_header(lang) }}
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for hour in hourly.tonight %}
                        <tr>
                            {{ macros.print_hourly_table_row(hour) }}
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot class="table-group-divider">
                        <tr>
                            {{ macros.print_hourly_table_units(units) }}
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </main>

    {% include "common/footer.html" %}
    {% include "common/scripts.html" %}
</body>

</html>