{% macro print_aqi(aqi) %}
{% if not aqi %}
<em class="bi bi-balloon-fill text-secondary text-opacity-25" aria-hidden="true"></em>
{% elif aqi in (1, 2) %}
<em class="bi bi-balloon-fill text-success" aria-hidden="true"></em>
{% elif aqi in (3, 4) %}
<em class="bi bi-balloon-fill text-warning" aria-hidden="true"></em>
{% else %}
<em class="bi bi-balloon-fill text-danger" aria-hidden="true"></em>
{% endif %}
{% endmacro %}

{% macro print_moon_phase(moon_phase, lat) %}
{% if moon_phase in (0, 1) %}
<em class="bi bi-circle-fill" aria-hidden="true"></em>
{% elif (moon_phase == 0.25 and lat >= 0) or (moon_phase == 0.75 and lat < 0) %}
<em class="bi bi-moon flip-horizontal" aria-hidden="true"></em>
{% elif moon_phase == 0.5 %}
<em class="bi bi-circle" aria-hidden="true"></em>
{% elif (moon_phase == 0.75 and lat >= 0) or (moon_phase == 0.25 and lat < 0) %}
<em class="bi bi-moon" aria-hidden="true"></em>
{% elif 0 < moon_phase < 0.5 %}
<em class="bi bi-arrow-up" aria-hidden="true"></em>
{% else %}
<em class="bi bi-arrow-down" aria-hidden="true"></em>
{% endif %}
{% endmacro %}

{% macro print_uvi(uvi) %}
{% if uvi < 1 %}
<em class="bi bi-sun-fill text-secondary text-opacity-25" aria-hidden="true"></em>
{% elif uvi < 3 %}
<em class="bi bi-sun-fill text-success" aria-hidden="true"></em>
{% elif uvi < 8 %}
<em class="bi bi-sun-fill text-warning" aria-hidden="true"></em>
{% else %}
<em class="bi bi-sun-fill text-danger" aria-hidden="true"></em>
{% endif %}
{% endmacro %}

{% macro print_weather(icon, description) %}
<img src="{{ ('/icons/openweather/' + icon + '.png') | fileuri }}" alt="{{ description }}" class="weather-icon" />
<span class="weather-description">{{ description }}</span>
{% endmacro %}

{% macro print_weather_table_header(lang) %}
<th scope="col" id="weather" style="width: 40%;">
    {{ "forecast" | transl(lang) | safe }}
</th>
<th scope="col" id="temp" class="text-end">
    {{ "temp_short" | transl(lang) | safe }}
</th>
<th scope="col" id="wind" class="text-end">
    {{ "wind_short" | transl(lang) | safe }}
</th>
<th scope="col" id="humidity" class="text-end">
    {{ "humidity_short" | transl(lang) | safe }}
</th>
<th scope="col" id="prec" class="text-end">
    {{ "prec_short" | transl(lang) | safe }}
</th>
{% endmacro %}

{% macro print_hourly_table_header(lang) %}
<th scope="col" id="hour">
    <em class="bi bi-clock" aria-hidden="true"></em>
</th>
{{ print_weather_table_header(lang) }}
<th scope="col" id="uvi" class="text-center">
    {{ "uv_index_short" | transl(lang) | safe }}
</th>
<th scope="col" id="aqi" class="text-center">
    {{ "air_quality_index_short" | transl(lang) | safe }}
</th>
{% endmacro %}

{% macro print_hourly_table_row(hour) %}
<th scope="row">{{ hour.hour }}</th>
<td>
    {{ print_weather(hour.weather_icon, hour.weather_description) }}
</td>
<td class="text-end">{{ hour.temp | numfmt(0) }}</td>
<td class="text-end">{{ hour.wind_speed | numfmt(0) }}</td>
<td class="text-end">{{ hour.humidity }}</td>
<td class="text-end">{{ hour.prec | numfmt(1) }}</td>
<td class="text-center">{{ print_uvi(hour.uvi) }}</td>
<td class="text-center">{{ print_aqi(hour.aqi) }}</td>
{% endmacro %}

{% macro print_weather_table_units(units) %}
<th scope="col" class="border-bottom-0"></th>
<th scope="col" class="text-end text-secondary fw-normal border-bottom-0">
    <small>{{ "°C" if units == "metric" else "°F" }}</small>
</th>
<th scope="col" class="text-end text-secondary fw-normal border-bottom-0">
    <small>{{ "km/h" if units == "metric" else "mph" }}</small>
</th>
<th scope="col" class="text-end text-secondary fw-normal border-bottom-0">
    <small>%</small>
</th>
<th scope="col" class="text-end text-secondary fw-normal border-bottom-0">
    <small>mm</small>
</th>
{% endmacro %}

{% macro print_hourly_table_units(units) %}
<th scope="col" class="border-bottom-0"></th>
{{ print_weather_table_units(units) }}
<th scope="col" class="border-bottom-0"></th>
<th scope="col" class="border-bottom-0"></th>
{% endmacro %}
